<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
  color:white;


}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 4px;
  
}


.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  <!-- text-decoration: none; -->
  font-size: 15px;
  display: block;
}

.topnav button {
	width:100%;
	cursor: pointer;
	color: white;
	padding: 14px 16px;
	
	font-size: 17px;
	display: block;
	background-color:#333;
	border-width: 0px;
}

#myLinks{

}

.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  
}

.topnav button:hover {
  background-color: #ddd;
  color: black;
}

.active {
  
  background-color:#1ab188;
  color: white;
}

    

<!-- yunny add -->

h3{
text-align:center;
color:#fff;
}

h5{
text-align:center;
color:white;
}


.student_apply_notification{
border:2px solid black;
width:100%;
text-align:center;
}

.student_apply_list{
border:2px solid black;
width:100%;
text-align:center;
}

<!-- yunny add -->

input[type=submit] {
  border:0;
  text-align:center;
  width:30%;
  background: #1ab188;
  color: #ffffff;
  cursor: pointer;
  font-size:15px;
}


input[type=button] {
  border:0;
  text-align:center;
  width:auto;
  background: #1ab188;
  color: #ffffff;
  cursor: pointer;
  font-size:15px;
}

input[type=text],[type=password] {
 
  color: #111;
  
}

</style>
</head>
<body>
    
    <script>
        function menu_click(str) {
            if(str == "main") {
                frm.action = "/process/Student_Main";
            } else if(str == "FindDelivery") {
                frm.action = "/process/Student_FirstPageDelivery";
            } else if(str == "CertPage") {
                frm.action = "/process/Student_CertPage";
            } else if(str == "mypage") {
                frm.action = "/process/Student_mypage";
            } else if(str == "logout") {
                frm.action = "/process/logout";
                alert('정상적으로 로그아웃 되었습니다.');
            }
        }
        
        function MyPageChange() {
            var frm2 = document.frm2;
            frm2.action = "/process/Student_mypage_change";
            frm2.submit();
            alert('수정이 완료되었습니다.');
        }
        
        
        function GoToMain() {
            var frm2 = document.frm2;
            frm2.action = "/process/Student_Main";
            frm2.submit();
        }
    </script>

<!-- Simulate a smartphone / tablet -->
<div class="form">

<!-- Top Navigation Menu -->
	<div class="topnav">
		<a class="active">밥딜리버리</a><a href="javascript:void(0);" class="icon" onclick="myFunction()">
			<i class="fa fa-bars"></i>
		</a>
	  
		<div id="myLinks" class="multi-button">
			<form method="post" style="color:white;" name="frm" id="frm">
          <input type="text" value="<%=StudentID %>" name="id" style="font-weight: bold; width: 80px; text-align: center; color: #fff; background: #333; border-width: 0px; " readonly> 님 환영합니다
			<p></p>
				  <button type="submit" onclick='menu_click("main");' >메인 페이지</button>
				  <button type="submit" onclick='menu_click("FindDelivery");' >배달지 확인</button>
				  <button type="submit" onclick='menu_click("CertPage");' >배달 인증</button>
				  <button type="submit" onclick='menu_click("mypage");' >마이페이지</button>
				  <button type="submit" onclick='menu_click("logout");' >로그아웃</button>
			</form>
		</div>
	</div>


<!-- yunny add -->


	<div>
			<h3 align="center">마이 페이지</h3>
		
		<div class="maker_info">
			<br />
			<form method="post" id="frm2" name="frm2">
			<p>ID: <input name="id" type="text" value="<%=data[0].id %>" style="text-align: center;" readonly></p>
			password: <input name="password" type="password" value="<%=data[0].password %>" style="text-align: center;"/>
			<p>이름: <%=data[0].name %></p>
			전화번호: <input name="phone" type="text" value="<%=data[0].phone %>" style="text-align: center;"/>
			<br>
			<br>
			주소: <input name="address1" type="text" value="<%=data[0].address1 %>" style="text-align: center;"/>
			<br>
			<br>
			상세주소 : <input type="text" name="address2" value="<%=data[0].address2 %>" style="text-align: center;"/>
			<br>
			<br>
			<label> 배달지역 : <input type="text" name="location" id="location" value="<%=data[0].delivery_location %>" style="text-align: center;"/></label>
			<br>
			<br>
			<input type="button" name="mypagechange" value="수정하기" onClick="MyPageChange();">
			<input type="button" name="gotomain" value="메인 화면으로" onClick="GoToMain();">
			</form>
			<br />
		</div>	
	</div>




<!-- yunny add -->
</div>

<script>
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>

</body>
</html>
